<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Users</title>
</head>
<body>
<table>
  <tr>
    <td>ID</td>
    <td>NAME</td>
    <td>LAST NAME</td>
    <td>EMAIL</td>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getLastName()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td><button><a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a></button></td>
    <td> <form th:method="DELETE" th:action="@{/{id}/delete/(id=${user.getId()})}">
      <input type="submit" value="Delete"></form></td>

  </tr>
</table>
<p><a href="/create">Create user</a></p>
</body>
</html>